<ion-content>
  <form  [formGroup]="inscriptionForm">
  <!--  <ion-grid>-->
          <div text-center>
            <h3>Enregistrement!</h3>
          </div>
          <br><br><br><br><br><br><br><br>
            <ion-item color="transparent" lines="none"> 
                <ion-label color="light" text-center>Matricule</ion-label>
              <ion-input formControlName="matricule" type="text" color="light" placeholder="Votre matricule" ngModel required></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.matricule" >
                  <div class="error_message" *ngIf="inscriptionForm.get('matricule').hasError(item.type) && (inscriptionForm.get('matricule').dirty || inscriptionForm.get('matricule').touched)">
                      {{ item.message }}
                  </div>
                </ng-container>
              </div>
          <div padding>
            <ion-button  expand="block" shape="round" fill="outline" size="large"  [disabled]="inscriptionForm.invalid" (click)="register()" >Enregistrer</ion-button>
          </div>
   <!-- </ion-grid> -->
  </form>
</ion-content>
