<ion-header>
  <ion-toolbar color="turquoise">
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>profil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <!-- <ion-card>
        <ion-item>
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>Mes informations</ion-label>
          <ion-button fill="outline" slot="end">modifier</ion-button>
        </ion-item>
      <ion-card-header> -->
        <div class="user-photo" padding-top>
          <ion-avatar>
            <img [src]=" url || '/assets/icon/noavatar.png'">
          </ion-avatar>
        </div>
    <!--     
      </ion-card-header>
        <ion-card-content> -->
            <ion-list>
                <ion-item>
                  <ion-icon name="person" slot="start"></ion-icon>
                  <ion-label>
                    <p>Nom</p>
                    <h2> {{ client.prenom }} {{ client.nom }}</h2>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="mail" slot="start"></ion-icon>
                  <ion-label>
                    <p>Email</p>
                    <h2>{{ client.email }}</h2>
                  </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="home" slot="start"></ion-icon>
                    <ion-label>
                      <p>Adresse</p>
                      <h2>{{ client.adresse }}</h2>
                    </ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="phone-portrait" slot="start" ></ion-icon>
                      <ion-label>
                        <p>Téléphone</p>
                        <h2>{{ client.telephone }} </h2>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="people" slot="start"></ion-icon>
                        <ion-label>
                          <p>Sexe</p>
                          <h2>{{ client.sexe }} </h2>
                        </ion-label>
                      </ion-item>
              </ion-list>
          <!-- <p> Adresse : </p>
          <p> Téléphone :{{ client.telephone }} </p>
        
          <p> Sexe: {{ client.sexe }}</p>
          <p><ion-icon name="information-circle-outline"></ion-icon> Siren: {{ client.siren }}</p>
          <p><ion-icon name="information-circle-outline"></ion-icon> Siret: {{ client.siret }}</p>
          <p><ion-icon name="information-circle-outline"></ion-icon> Type de client {{ client.typeclient_id }}</p> -->
      <!--   </ion-card-content>
      </ion-card> -->
      
     
</ion-content>
