<ion-header>
  <ion-toolbar color="primary">
    <ion-title>liste-proposition</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="#f4f5f8">
        <ion-card *ngFor="let item of propositions">
            <ion-item >
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>{{ item.typeproposition }}</ion-label>
              <ion-button fill="outline" slot="end" [routerLink]="['/une-proposition/', item.id]"  routerDirection="forward">Voir</ion-button>
            </ion-item>
            <agm-map
              [style.height.px]="200"
              [latitude]="item.latdepart"
              [longitude]="item.longarrive" [zoom]="10">
    <!--   <div *ngFor="let reserver of reservers" >
          <agm-marker *ngFor="let position of reserver.client.positions"  [latitude]="position.latitude" [longitude]="position.longitude">
              <agm-info-window>
                <p (click)="createNote(reserver.client.id)" >Client</p>
                <p>{{ reserver.client.nom }}  {{ reserver.client.prenom }}</p>
              <p> {{ reserver.client.telephone }} </p>
              <p (click)="createNote(reserver.client.id)" >noter</p></agm-info-window>
          </agm-marker>
      </div> -->
            <agm-direction [origin]="item.origine" [destination]="item.destination" > </agm-direction>
       </agm-map>
            <ion-card-content>
              <!-- <p>Depart: {{ item.lieudepart }}</p>
              <p>Arrivée: {{ item.lieuarrive }}</p> -->
              <!-- <p>Date: {{ item.datedepart | date:'dd-M-yyyy hh:mm:ss' }} <span  text-right>{{  item.montant }}</span></p>
              <p>Place disponible: {{ item.nbplacedispo }}</p>
              <p text-right> {{  item.montant }}</p> -->
              <ion-row>
                <ion-col size="7" align-self-start>
                <ion-icon name="calendar" color="primary"></ion-icon> 
                    {{ item.datedepart | date:'dd-MM-yyyy hh:mm:ss' }}
                </ion-col>
                <ion-col size="2" align-self-center>
                  <ion-icon name="logo-model-s" color="primary"></ion-icon> 
                  {{ item.nbplacedispo }}
                </ion-col>
                <ion-col sizé="3" align-self-end>
                 {{  item.montant }} €
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card> 
  

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
  
</ion-content>
