<ion-header>
  <ion-toolbar>
    <ion-title>liste-incident</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of signalers">
    <ion-item >
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ item.created_at | date:'dd-MM-yyyy' }}</ion-label>
      
    </ion-item>
  
    <ion-card-content>
      <p>Adresse: {{ item.adresse }}</p>
      <p> Detail: {{ item.contenu }}</p>
    </ion-card-content>
  </ion-card>  
</ion-content>
