<ion-header>
  <ion-toolbar color="#25fde9">
    <ion-title>une-reservations</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card >

      <agm-map
      [style.height.px]="300"
  [latitude]="reserver?.proposition?.latdepart"
  [longitude]="reserver?.proposition?.longdepart" [zoom]="10">
   
    <agm-direction [origin]="depart" [destination]="arrive" [panel]="myPanel"> </agm-direction>
    <agm-marker [latitude]="position?.latitude" [longitude]="position?.longitude" >
        <agm-info-window [isOpen]="true">
          <p (click)="createNote(position.client.id)">Chauffeur</p>
          <p>Nom: {{ position?.client?.nom }}  {{ position?.client?.prenom }}</p>
        <p>contacts {{ position?.client?.telephone }} </p>
        <p (click)="createNote()" > noter</p>
        <!-- <p><ion-icon name="mail" color="primary"></ion-icon>  <ion-icon name="phone-portrait" color="primary"></ion-icon></p> -->
        <ion-grid>
          <ion-row>
            <ion-col size="6"><ion-img src="assets/icon/message.ico" (click)="sendMessage()"   style="width:30px;height:auto;"></ion-img></ion-col>
            <ion-col size="6"><ion-img src="assets/icon/telephone.ico" (click)="callChaffeur()"   style="width:30px;height:auto;"></ion-img></ion-col>
          </ion-row>
        </ion-grid>
        <p>  </p> </agm-info-window>
    </agm-marker>
    <div #myPanel>

      </div>
 </agm-map> 

 <!-- <div class="map-wrapper">
    <div #map id="map"></div>
  </div>
  <div id="address">
    <span>{{address}}</span>
  </div> -->
  
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ reserver?.date | date:'dd-MM-yyyy' }}</ion-label>
    </ion-item>
  
    <ion-card-content>

      <p>Moyen de transport: {{ reserver?.proposition?.vehicule?.typevehicule?.typevehicule }}</p>
      <p>Depart: {{ reserver?.proposition?.lieudepart }}</p>
      <p>Arrivée: {{ reserver?.proposition?.lieuarrive }}</p>
      <p>Date Départ: {{ reserver?.proposition?.datedepart | date:'dd-MM-yyyy hh:mm:ss' }}</p>
      <p>Nombre de Places Reservé : {{ reserver?.nbplaceres }}</p>
      <p>Nombre de Disponible : {{ reserver?.proposition?.vehicule?.nbplacedispo }}</p>
      <p *ngIf="reserver.etat==false"  >  Non Validé</p>
       <ion-button  *ngIf="reserver.etat==false" expand="block" fill="outline" [routerLink]="['/paiement/', reserver.id]"  routerDirection="forward">
        <ion-icon name="card"></ion-icon>
        Paiment
      </ion-button>
    </ion-card-content>
  </ion-card> 
  <ion-card>
      <ion-card-content>
         <div #myPanel></div>
      </ion-card-content>
    </ion-card> 
  <!-- <ion-card>
      <ion-card-content>
         <div #directionsPanel></div>
      </ion-card-content>
    </ion-card> -->
</ion-content>
