<ion-header>
    <ion-toolbar text-center>
      <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <agm-map
    [style.height.px]="height"
    [latitude]="lat"
[longitude]="lng">
  <agm-marker [latitude]="ma?.lat" [longitude]="ma?.lng" [markerDraggable]="true"  (dragEnd)="markerDragEndDepart( md, $event)">
      <agm-info-window>
          <p>Point de départ</p>
      </agm-info-window>
  </agm-marker>
  <agm-marker [latitude]="md?.lat" [longitude]="md?.lng" [markerDraggable]="true"  (dragEnd)="markerDragEndArrive( ma, $event)">
      <agm-info-window>
          <p>Point d'arrivé</p>
      </agm-info-window>
  </agm-marker>
</agm-map>
  </ion-content>
<ion-footer>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button color="secondary" (click)="closeModal()">
          <ion-icon slot="icon-only" name="more" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-footer>
