<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="turquoise">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-menu-toggle auto-hide="true" *ngFor="let p of pageChauffeur" >
          <ion-item [routerLink]="p?.url" routerDirection="forward" [class.active-item]="selectedPath==p?.url">
            <ion-icon color="turquoise" name="{{ p?.icon }}"></ion-icon>  &nbsp;&nbsp;{{ p?.title }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>