<ion-header>
  <ion-toolbar color="primary">
    <ion-title>proposition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <form  [formGroup]="propositionForm">
        <!--ion-grid-->
              <div text-center>
                <h3>Enregistrement!</h3>
              </div>
              <!--ion-item-->
                  <ion-label position="floating">Type de Vehicule</ion-label>
                <ion-select placeholder="Select One" formControlName="typevehicule_id" ngModel required>
                    <ion-select-option *ngFor="let typeVehicule of typeVehicules" value= '{{ typeVehicule.id }}'>{{ typeVehicule.typevehicule }}</ion-select-option>
                  </ion-select>
            <!--/ion-item-->
            <div class="error-messages">
              <ng-container *ngFor="let item of error_messages.typevehicule_id" >
                  <div class="error_message" *ngIf="propositionForm.get('typevehicule_id').hasError(item.type) && (propositionForm.get('typevehicule_id').dirty || propositionForm.get('typevehicule_id').touched)">
                      {{ item.message }}
                  </div>
              </ng-container>
              </div>
                <!--ion-item-->
                    <ion-label position="floating">Nombre de places Vehicule</ion-label>
                  <ion-input  formControlName="nbplace" type="number" placeholder="Nombre de place" [(ngModel)]="nbplace"  required></ion-input>
                <!--/ion-item-->
                <div class="error-messages">
                  <ng-container *ngFor="let item of error_messages.nbplace" >
                    <div class="error_message" *ngIf="propositionForm.get('nbplace').hasError(item.type) && (propositionForm.get('nbplace').dirty || propositionForm.get('nbplace').touched)">
                        {{ item.message }}
                    </div>
                  </ng-container>
                </div>
                <!--ion-item-->
                  {{ nbplace }}
                    <ion-label position="floating">Nombre de place demandé</ion-label>
                  <ion-input  formControlName="nbplacedispo" type="number" placeholder="Nombre de place disponible" [(ngModel)]="nbplacedispo" required></ion-input>
                <!--/ion-item-->
                <div class="error-messages" *ngIf="nbplacedispo > nbplace" >
                    <ng-container *ngFor="let item of error_messages.datedepart" >
                      <div class="error_message" >
                          le nombre de place demandé doit être inférieur au nombre de place du vehicule
                      </div>
                    </ng-container>
                  </div>
                <div class="error-messages">
                  <ng-container *ngFor="let item of error_messages.nbplacedispo" >
                    <div class="error_message" *ngIf="propositionForm.get('nbplacedispo').hasError(item.type) && (propositionForm.get('nbplacedispo').dirty || propositionForm.get('nbplacedispo').touched)">
                        {{ item.message }}
                    </div>
                  </ng-container>
                </div>
                <!--ion-item-->
                  <!-- <ion-input  formControlName="lieudepart" type="text" (click)=" openStart()"  placeholder="cliquer pour enrengistrer le lieu de depart" ngModel required></ion-input> -->
                  <ion-label position="floating">Cliqué pour choisir les adresses </ion-label>
                  <ion-input  formControlName="lieudepart" type="text" (click)=" openStart()"  placeholder="cliquer pour enrengistrer le lieu de depart" [(ngModel)]="lieudepart"  required></ion-input>
                <!--/ion-item-->
                <div class="error-messages">
                  <ng-container *ngFor="let item of error_messages.lieudepart" >
                    <div class="error_message" *ngIf="propositionForm.get('lieudepart').hasError(item.type) && (propositionForm.get('lieudepart').dirty || propositionForm.get('lieudepart').touched)">
                        {{ item.message }}
                    </div>
                  </ng-container>
                </div>
                <!--ion-item-->
                    
                  <ion-input  formControlName="lieuarrive" type="text" placeholder="cliquer pour enrengistrer le lieu d'arrivé" [(ngModel)]="lieuarrive" required></ion-input>
                <!--/ion-item-->
                <div class="error-messages">
                  <ng-container *ngFor="let item of error_messages.lieuarrive" >
                    <div class="error_message" *ngIf="propositionForm.get('lieuarrive').hasError(item.type) && (propositionForm.get('lieuarrive').dirty || propositionForm.get('lieuarrive').touched)">
                        {{ item.message }}
                    </div>
                  </ng-container>
                </div>
               <!--  <ion-item>
                  <ion-input  formControlName="montant" type="number" placeholder="Veuillez saisir le montant" ngModel required></ion-input>
                </ion-item>
                <div class="error-messages">
                  <ng-container *ngFor="let item of error_messages.montant" >
                    <div class="error_message" *ngIf="propositionForm.get('montant').hasError(item.type) && (propositionForm.get('montant').dirty || propositionForm.get('montant').touched)">
                        {{ item.message }}
                    </div>
                  </ng-container>
                </div> -->
                <!--ion-item-->
                    <ion-label position="floating">Date de Depart </ion-label>
                  <ion-datetime  formControlName="datedepart" displayFormat="D MM YYYY H:mm" type="date" placeholder="Veuillez saisir la date" ngModel required></ion-datetime>
                <!--/ion-item-->
                <div class="error-messages">
                  <ng-container *ngFor="let item of error_messages.datedepart" >
                    <div class="error_message" *ngIf="propositionForm.get('datedepart').hasError(item.type) && (propositionForm.get('datedepart').dirty || propositionForm.get('datedepart').touched)">
                        {{ item.message }}

                    </div>
                  </ng-container>
                </div>
                
               <!--  <ion-item>
                  <ion-select placeholder="Select One" formControlName="typeproposition_id" ngModel required>
                      <ion-select-option *ngFor="let typeproposition of typepropositions" value= '{{ typeproposition.id }}'>{{ typeproposition.typeproposition }}</ion-select-option>
                    </ion-select>
              </ion-item>
              <div class="error-messages">
                <ng-container *ngFor="let item of error_messages.typevehicule_id" >
                    <div class="error_message" *ngIf="propositionForm.get('typeproposition_id').hasError(item.type) && (propositionForm.get('typeproposition_id').dirty || propositionForm.get('typeproposition_id').touched)">
                        {{ item.message }}
                    </div>
                </ng-container>
                </div> -->
                <ion-input  formControlName="montant" type="hidden" placeholder="Veuillez saisir le montant" [(ngModel)]="montant" required></ion-input>
                <ion-input  formControlName="typeproposition_id" type="hidden"  [(ngModel)]="typeproposition_id"  required></ion-input>
                  <ion-input  formControlName="latdepart" type="hidden"  [(ngModel)]="latdepart"  required></ion-input>
                  <ion-input  formControlName="longdepart" type="hidden"  [(ngModel)]="longdepart" required></ion-input>
                  <ion-input  formControlName="latarrive" type="hidden"  [(ngModel)]="latarrive" required></ion-input>
                  <ion-input  formControlName="longarrive" type="hidden"  [(ngModel)]="longarrive" required></ion-input>
                  <ion-input  formControlName="client_id" type="hidden"  [(ngModel)]="client" required></ion-input>
              <div padding>
                <ion-button *ngIf="nbplacedispo <= nbplace"  size="large"  [disabled]="propositionForm.invalid" (click)="register()" expand="block">Register</ion-button>
              </div>
        <!--/ion-grid-->
      </form>
    
</ion-content>
