<ion-header>
  <ion-toolbar color="turquoise">
    <ion-title>une Trajet</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content>
    <ion-card >
        <ion-item >
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label *ngIf="propositions?.status==false" ><ion-badge color="danger">Trajet pas encore  efféctué</ion-badge></ion-label>
          <ion-label *ngIf="propositions?.status==true" ><ion-badge color="success">Trajet  efféctué</ion-badge></ion-label>
          <ion-button (click)="validerTrajet(propositions?.id)"  *ngIf="propositions?.status==false"  color="success" fill="outline" slot="end" ><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
        </ion-item>
      
        <ion-card-content >
            <p>Moyen de transport: {{ propositions?.typevehicule }}</p>
            <p>Depart: {{ propositions?.lieudepart }}</p>
            <p>Arrivée: {{ propositions?.lieuarrive }}</p>
            <p>Date: {{ propositions?.datedepart | date:'dd-mm-yyyy hh:mm:ss' }}</p>
            <p>Nombre de Places : {{ propositions?.nbplace }}</p>
            <p>Nombre de Disponible : {{ propositions?.nbplacedispo }}</p>
            <p>montant: {{ propositions?.montant }} €</p>
            <div *ngIf="client?.typeclient?.typeclient=='Chauffeur'">
              <hr>
            <div *ngFor="let propositions1 of reservers" >
              <ion-row>
                <ion-col size="8">
              <p>Nom : {{ propositions1?.client.prenom }} {{ propositions1?.client.nom }}</p>
              <p>Tel : {{ propositions1?.client?.telephone }}</p>
              <p>Place réservé(s): {{ propositions1?.nbplaceres }}</p>
              <p>Paiement:<ion-text *ngIf="propositions1?.paye==true" color="success"> dejà efféctue</ion-text>
                <ion-text *ngIf="propositions1?.paye==false" color="danger"> non efféctue
                </ion-text>
              </p> 
            </ion-col>
            <ion-col size="4">
              <br><br>
            <ion-button *ngIf="propositions1?.paye==false" color="dark" size="small" (click)="createPaiement(propositions.montant, propositions1.nbplaceres, propositions1.client.id,propositions1.id,propositions1?.client.nom ,propositions1?.client.prenom)"  fill="outline"><ion-icon name="cash"></ion-icon></ion-button>
          </ion-col>
          </ion-row>
              <hr>           
            </div>
          </div>
        </ion-card-content>
        <agm-map
        [style.height.px]="300"
    [latitude]="lat"
    [longitude]="long"  (mapReady)="onMapReady($event)" [zoom]="10">
    <div *ngIf="client?.typeclient?.typeclient=='Chauffeur'">
  <div *ngFor="let reserver of reservers" >
      <agm-marker *ngFor="let position of reserver.client.positions"  [latitude]="position.latitude" [longitude]="position.longitude">
          <agm-info-window>
            <p (click)="createNote(reserver.client.id)" >Client</p>
            <p>{{ reserver.client.nom }}  {{ reserver.client.prenom }}</p>
          <p> {{ reserver.client.telephone }} </p>
          <p (click)="createNote(reserver.client.id)" >noter</p></agm-info-window>
      </agm-marker>
  </div>
</div>
  <agm-direction [origin]="origin" [destination]="destination" [panel]="myPanel"> </agm-direction>
      <div #myPanel>
  
        </div>
   </agm-map>
   <div #myPanel>
  
  </div>
      </ion-card> 

      </ion-content>