<ion-header>
  <ion-toolbar color="primary">
    <ion-title>mes-propositions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of propositions">
    <ion-item >
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ item.typeproposition }}</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/une-proposition/', item.id]"  routerDirection="forward">Voir</ion-button>
    </ion-item>
    <agm-map
    [style.height.px]="200"
    [latitude]="item.latdepart"
    [longitude]="item.longarrive">
<!--   <div *ngFor="let reserver of reservers" >
<agm-marker *ngFor="let position of reserver.client.positions"  [latitude]="position.latitude" [longitude]="position.longitude">
    <agm-info-window>
      <p (click)="createNote(reserver.client.id)" >Client</p>
      <p>{{ reserver.client.nom }}  {{ reserver.client.prenom }}</p>
    <p> {{ reserver.client.telephone }} </p>
    <p (click)="createNote(reserver.client.id)" >noter</p></agm-info-window>
</agm-marker>
</div> -->
  <agm-direction [origin]="item.origine" [destination]="item.destination" > </agm-direction>
</agm-map>
    <ion-card-content>
      <p>Moyen de transport: {{ item.typevehicule }}</p>
      <p>Depart: {{ item.lieudepart }}</p>
      <p>Arrivée: {{ item.lieuarrive }}</p>
      <p>Date: {{ item.datedepart | date:'dd-mm-yyyy hh:mm:ss' }}</p>
      <p>Nombre de Places : {{ item.nbplace }}</p>
      <p>Nombre de Disponible : {{ item.nbplacedispo }}</p>
    </ion-card-content>
  </ion-card> 
</ion-content>
