// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar{
    background-color: var( --color-turquoise, #25fde9);
}
ion-card {
    --ion-background-color: #25fde9;
}

.turquoisebacground{
    background-color: #25fde9;
}
ion-card {
    box-shadow: 3px 3px 3px 3px #25fde9 !important;
    border-radius: 25px !important;
  }
  ion-split-pane {
    box-shadow: 3px 3px 3px 3px #25fde9 !important;
   // border-radius: 25px !important;
  }
  .valide{
    background-color: #bcffbc;
}
.nonvalide{
    background-color: #fab6b6;
}
