<ion-header>
 <ion-toolbar color="turquoise"> 
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-title>Guyane</ion-title>
        
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button shape="round" fill="outline" slot="end">
            <ion-icon slot="start" name="locate"></ion-icon>
            Ma position
          </ion-button>
    </ion-buttons>      
    </ion-toolbar>
</ion-header>
<ion-content>
  <agm-map
      [style.height.px]="height/2"
  [latitude]="lat"
  [longitude]="lng"[zoom]="13" (mapReady)="onMapReady($event)" >
<agm-marker *ngFor="let signale of signalers"  [latitude]= "signale.latitude"  [longitude]="signale.longitude" [iconUrl]="iconeSignal">
        <agm-info-window>
            <p> {{ signale.contenu }} </p>
        </agm-info-window>      
</agm-marker>
 </agm-map>

 <h3 class="text-center">Trajet du jour</h3>
 <ion-row size="12">

        <ion-col>
            <ion-card *ngFor="let item of propositions" >
                <ion-item >
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label *ngIf="item.status==false" ><ion-badge color="danger">Trajet pas encore  efféctué</ion-badge></ion-label>
                  <ion-label *ngIf="item.status==true" ><ion-badge color="success">Trajet déjà  efféctué</ion-badge></ion-label>
                  <ion-button color="dark" fill="outline" slot="end" [routerLink]="['/une-proposition/', item.id]"  routerDirection="forward"><ion-icon  name="eye"></ion-icon></ion-button>
                </ion-item>
                <agm-map
                [style.height.px]="200"
                [latitude]="item.latdepart"
                [longitude]="item.longarrive">
              <agm-direction [origin]="item.origine" [destination]="item.destination" > </agm-direction>
            </agm-map>
                <ion-card-content > <ion-row>
                    <ion-col size="7" align-self-start>
                    <ion-icon color="dark" name="calendar" ></ion-icon> 
                        {{ item.datedepart | date:'dd-MM-yyyy hh:mm:ss' }}
                    </ion-col>
                    <ion-col size="2" align-self-center>
                      <ion-icon color="dark" name="logo-model-s" ></ion-icon> 
                      {{ item.nbplacedispo }}
                    </ion-col>
                    <ion-col sizé="3" align-self-end>
                        <ion-icon color="dark" name="cash" ></ion-icon> 
                     {{  item.montant }} €
                    </ion-col>
                  </ion-row>
            
                 <!--  <p>Depart: {{ item.lieudepart }}</p>
                  <p>Arrivée: {{ item.lieuarrive }}</p>
                  <p>Date: {{ item.datedepart | date:'dd-M-yyyy hh:mm:ss' }}</p>
                  <p>Place disponible: {{ item.vehicule.nbplacedispo }}</p> -->
                </ion-card-content>
              </ion-card> 
        </ion-col>
      </ion-row>

</ion-content>