<ion-header>
  <ion-toolbar color="primary">
    <ion-title>mes-reservations</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <div >
  <ion-card *ngFor="let item of reservations" [ngClass]="{'valide': item.etat==1,'nonvalide': item.etat==0}">
    <ion-item color="white" >
      <ion-icon color="primary" name="pin" slot="start"></ion-icon>
      <ion-label>{{ item.date | date:'dd-MM-yyyy' }}</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/une-reservations/', item.id]"  routerDirection="forward"><ion-icon name="eye"></ion-icon></ion-button>
    </ion-item>
        <agm-map
        [style.height.px]="200"
    [latitude]="item.proposition.latdepart"
    [longitude]="item.proposition.longdepart" [zoom]="10">
     
      <agm-direction [origin]="item.origine" [destination]="item.destination"> </agm-direction>
     <!--  <agm-marker [latitude]="position.latitude" [longitude]="position.longitude">
          <agm-info-window>
            <p (click)="createNote(position.client.id)">Chauffeur</p>
            <p>Nom: {{ position.client.nom }}  {{ position.client.prenom }}</p>
          <p>contacts {{ position.client.telephone }} </p></agm-info-window>
          <p (click)="createNote()" > noter</p>
      </agm-marker> -->
   </agm-map> 
    <ion-card-content>
    <!--   <p>Moyen de transport: {{ item.proposition.vehicule.typevehicule.typevehicule }}</p>
      <p>Depart: {{ item.proposition.lieudepart }}</p>
      <p>Arrivée: {{ item.proposition.lieuarrive }}</p> -->
     <!--  <p>Date Départ: {{ item.proposition.datedepart | date:'dd-MM-yyyy hh:mm:ss' }}</p>
      <p>Nombre de Places Reservé : {{ item.nbplaceres }}</p>
      <p>Nombre de Disponible : {{ item.proposition.vehicule.nbplacedispo }}</p> -->
      <ion-row>
        <ion-col size="7" align-self-start>
        <ion-icon name="calendar" color="primary"></ion-icon> 
            {{ item.proposition.datedepart | date:'dd-MM-yyyy hh:mm:ss' }}
        </ion-col>
        <ion-col size="2" align-self-center>
          <ion-icon name="logo-model-s" color="primary"></ion-icon> 
          {{ item.nbplaceres }}
        </ion-col>
        <ion-col sizé="3" align-self-end>
         {{  item.proposition.montant }} €
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>  
</div>
</ion-content>
